.Rproj.user
.Rhistory
.RData
.Ruserdata
data/
plots/
images/
_book/
_bookdown_files/
*.bib
*.ply
*.rds
*.pdf
*.svg
*.png
*.JPG
*.mp4
presentations/old-renditions-of-committee-meeting-2-presentations/
presentations/committee-meeting-2-presentation-dependencies/photos-and-screen-recordings/
