@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

h1 h2 h3 h4 h5 h6 {font-family: "Noto Sans", Sans-Serif, Times;
 }

body {
  font-family: "Roboto", "Open Sans", Sans-Serif, Times;
}

code {
  font-family: Consolas, "Lucida Console", Monaco, monospace;
  font-size: 85%;
}